.navbar-div{
    background-color: rgba(0,0,0,0.3);
    position: relative;
}
/* 
.container {
    display: flex;
    justify-content: space-between;
} */


#navbar-container {
    display: flex;
    height: 64px;
    align-items: center;
    /* padding: 0 80px; */
    z-index: 9;
    justify-content: space-between;

}

#logo-container{
    display: flex;
    justify-content: center;
    color: white;
    width: 40px;
    height: 40px;
}

#links-container{
    display: flex;
    justify-content: space-around;
    flex: 0.55;
}

.col {
    display: flex;
    justify-content: space-between;
}

.link {
    color: white;
    font-weight: 600;
    font-size: 16;
    text-transform: uppercase;
}

.link a {
    text-decoration: none;
    color: white;
}