.table-container{
    display: flex;
    align-self: center;
    flex:1;
    text-align: center;
}


@media screen and (max-width: 960px) {
    .table-container{
        display: flex;
        align-self: center;
        flex:1 !important;
        text-align: center;
        margin-top: 60px;
    }
    
}


@media screen and (max-width: 768px) {
    .table-container{
        display: flex;
        align-self: center;
        flex:1 !important;
        text-align: center;
    }
    
}